<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href='./css/style.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png"/>
    <title>Login App</title>
</head>
<body>
    
    <nav id="navbar">
        <div class="nav-wrapper">
            {{#if user}}
                <a href="/" class="brand-logo left">Welcome back {{user.firstName}}</a>
                <ul id="nav-mobile" class="right hide-on-small-only">
                    <li><a href="#"></a>settings</li>
                    <li><a href="#">profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            {{else}}
                <a href="/" class="brand-logo left">Welcome!</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <form action='/login' method='post'>
                        <li><input placeholder="username" type="text" name="username"></li>
                        <li><input placeholder="password" type="password" name="password"></li>
                        <li><input type="submit" value="Login"></li>
                        <li><a class="modal-trigger" href="#modal1">New Account</a></li>
                    </form>
                </ul>
            {{/if}}
            <a href="#" data-activates="mobile-demo" class="button-collapse right show-on-small-only"><i class="material-icons">person</i></a>
            <ul class="side-nav" id="mobile-demo">
                <h3 class='black-text'>Login</h3>
                <form action='/login' method='post'>
                    <li><input placeholder="username" type="text" name="username"></li>
                    <li><input placeholder="password" type="password" name="password"></li>
                    <li><input type="submit" value="Login"></li>
                    <li><a class="modal-trigger" href="#modal1">New Account</a></li>
                </form>
            </ul>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

    {{!-- javascripts --}}
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="./javascript/script.js"></script>

</body>
</html>