body {
    background: #E5E4E2;
}

#navbar {
    background: #3bb9ff;
    box-shadow: 0px 0px 15px black;
    padding-left: 20px;
    padding-right: 20px;
}

::placeholder {
    color: white;
}

.sideNav::placeholder {
    color: black;
}

#mobile-demo {
    padding-left: 15px;
    padding-right: 15px; 
}

.topInput {
    margin-right: 15px;
}

.loginBtn {
    background: rgb(250, 227, 100);
    color: #3bb9ff;
    font-weight: bold;
    width: 75px;
    height: 40px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
